body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
    
}
.to-uppercase {
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}

 /* Main header styles */
 .section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0.625rem;
    color: #797979;
    text-transform: uppercase;
}

.section-title {
    margin-top: 0.32rem;
    font-size: 3.62rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364D;
}

/* Navbar section */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__brand img {
    width: 4rem;
}

.main-navigation__item {
    display: inline-block;
    padding: 0.625rem;
}

.main-navigation__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
}

.main-navigation__item a:hover {
    color: #efb6df;
}

.main-navigation__item.active a {
    color: #efb6df;
}

/* /Navbar section */





 /* Footer navigation */
 .footer {
    padding: 30px 0;
    background-color: #021017;
    text-align: center;
    margin-top: 50px;
}

.footer__brand img {
    width: 64px;
}

.footer-navigation__items {
    margin-top: 20px;
}

.footer-navigation__item {
    display: inline-block;
    padding: 0 10px;
}

.footer-navigation__item a {
    color: white;
    text-decoration: none;
}

.footer__socials {
    list-style: none;
    margin-top: 3rem;
    padding-left: 1rem;
  
}

.footer__social {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #fff;
    border-radius: 36px;
    color: #05364D;
    font-size: 1rem;
    margin-right: 12px;
}

.footer__social a {
    color: #021017;
}


.footer__social:hover {
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.footer__social:hover i {
    color: #FFF;
}

.footer__text {
    color: #797979
}


.contact {
    padding: 6.25rem 1.25rem;
}

textarea, input {
    width: 100%;
    padding: 0.87rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    padding-left: 1.12rem;
    font-size: 1.81rem;
    background: transparent;
    color: #495057;
    box-sizing: border-box;
}

textarea:focus,
.input:focus {
    outline: 0;
}
.half-flex{
    display: flex;
}
.contact-firstname {
    padding-right: 0.94rem;
    flex:1;
}

.contact-email {
    padding-left: 0.94rem;
    flex:1;
}

.contact__send {
    margin-top: 1.87rem;
}

.messenger a {
    text-decoration: none;
    font-size: 1.8rem;
}
.messenger a i{
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-right: 0.5rem;
}
.qr img{
    width: 12rem;
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 992px){
    .sidebar{
        display: none;
    }
}
@media only screen and (max-width:991px) {
    html{
        font-size: 24px;
    }
    
    .half-flex{
        flex-direction: column;
    }
    .icon-items {
        display: flex;
        justify-content: space-between;
    }
    .contact__firstname,
    .contact__email {
        padding: 0;
    }
    .contact{
        height: 70vh;
    }
    .qr {
        width: 17rem;
        display: inline-block;
        align-items: center;
    }
}

 /* Media */
 @media only screen and (max-width: 991px) {
  
    .container {
        width: 95%;
    }

    /* Main navigation */
    .main-navigation {
        display: none;
    }

    /* Footer */
    .footer-navigation {
        display: none;
    }
}
